<h2>Session Info:</h2>
<p>
  Session Date: <%= @session.date %>
</p>
<p>
  Session Profit: <%= @session.amount_won %>
</p>
<p>
  Session Notes: <%= @session.notes %>
</p>
Click here to <a href="/sessions/<%= @session.id %>/edit">Edit this session.</a><br>
Click here to <a href="/sessions/<%= @session.id %>/delete">Delete this session.</a>
